<div class="container">
  <center><h1>FAKERS NEWS</h1>

  Your daily source of juicy gossips from Kepochi</center><br>

  <hr>
  <h2>Welcome to your post editing page, <%= @user.name %>!</h2>
  This is your email: <b><u><%= @user.email %></b></u><br><br>

  <hr>
  <form action=<%= "/edit/#{@post.id}" %> method="post">

    <input type="hidden" name="_method" value="put">
    Edit your post<br>
    <textarea name="post[body]" style="color: black; background-color: cyan" cols="20" rows="5" > <%= @post.body %>
    </textarea>
    <input id="anak" type="submit">
  </form>


  <hr>
  <center><form action="/show" method="get">
    <button id="anak" type="submit">Go to HOMEPAGE</button>
  </form><br>

  <form action="/create_post" method="get">
    <button id="anak" type="submit">Create post</button>
  </form><br>

  <form action="/logout" method="post">
    <input type="hidden" name="_method" value="delete">
    <button id="anak" type="submit">Logout</button>
  </form></center>
</div>
