<div class="container">
  <center><h1>FAKERS NEWS</h1>

  Your daily source of juicy gossips from Kepochi</center><br>

  <hr>
  <h2>Please login to enjoy all the gossips! </h2>
  <form action="/login" method="post">

  Email<br>
  <input type="text" name="user[email]" placeholder="e.g. johndoe@gmail.com"><br><br>

  Password<br>
  <input type="password" name="user[password]"><br><br>

  <input type="submit" value="Log In"><br><br>

  </form>

  <hr>
  <a href="/">Back</a>
</div>