<div class="container">
  <center><h1>FAKERS NEWS</h1>

  Your daily source of juicy gossips from Kepochi</center><br>

  <hr>
  <h2>Don't be shy, tell us a little about yourself! </h2>
  <form action="/create_user" method="post">

  Name<br>
  <input type="text" name="user[name]" placeholder="e.g. John Doe"><br><br>

  Email<br>
  <input type="text" name="user[email]" placeholder="e.g. johndoe@gmail.com"><br><br>

  Password<br>
  <input type="password" name="user[password]"><br><br>


  <input type="submit" value="Create user"><br><br>


  </form>

  <hr>
  <a href="/">Back</a>
</div>